.clearfix:before,
.clearfix:after {
  display: table;

  content: '';
}

.clearfix:after {
  clear: both;
}

div {
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vh;
}

.app-header {
  display: flex;
  flex-direction: row;
  min-height: 65px;
  background-color: #eee8aa;
  justify-content: center;
}

.logo {
  display: inline-block;
  margin: 0;
  margin-left: 1rem;
  word-break: break-all;
  align-self: center;
}

.msg {
  display: inline-block;
  align-self: center;
}

.lobby {
  flex: 1;
  overflow-X: auto;
}

.battlefield {
  display: block;
  float: left;
  width: 500px;
  height: 500px;
  font-size: 0;
}

.row {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.cell {
  display: inline-block;
  margin: 0;
  width: 50px;
  height: 50px;
  border: 2px solid #808080;
  position: relative;
}

.cell.o:after {
  position: absolute;
  width: 40px;
  height: 40px;
  color: #ff7f50;
  content: 'o';
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  top: -7px;
  left: 3px;
}

.cell.x:after {
  position: absolute;
  width: 40px;
  height: 40px;
  color: #483d8b;
  content: 'x';
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
  top: -7px;
  left: 3px;
}

.games {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  width: 30%;
  list-style: none;
  font-size: 0;
}

.item {
  padding: 10px 2%;
  min-height: 20px;
  background-color: #2fffb8;
  vertical-align: middle;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
}

.app-footer {
  display: flex;
  flex-direction: row;
  min-height: 65px;
  background-color: #eee8aa;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

.button {
  display: inline-block;
  margin: 0 0 1rem;
  padding: .85em 1em;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #2199e8;
  color: #fefefe;
  vertical-align: middle;
  text-align: center;
  font-size: .9rem;
  line-height: 1;
  cursor: pointer;
}

.button:focus, .button:hover {
  background-color: #1583cc;
  color: #fefefe
}

.button:disabled {
  background-color: #008cba;
  color: #ffffff;
  opacity: 0.7;
  cursor: default;
}

.button--action {
  margin-top: 1rem;
  margin-right: 1rem;
}

.hidden {
  display: none;
}
